<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.kinwork">
    <!-- トウ　シウン -->
    <!-- 位置权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- GPS权限 -->
    <uses-permission android:name="android.permission.MOCK_ACCESS_LOCATION" /> <!-- インターネット接続許可権限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".PersonalSetActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".WebActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".SelectResumeActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".SearchResultsActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ResumeActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".QualificationActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".MylistActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".MakeUserActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".MainKinWork"
            android:launchMode="singleTask"/>
        <activity android:name=".EmploymentActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".EducationActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ContactDialogActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ContactActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ChangepwActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".SearchActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".BasicinfoeditActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ApplyActivity" />
        <activity android:name=".AgreementActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".AdvancSetActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".BootanimationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>